@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,600&display=swap');

$primary: #7cab48;
$primary-300: hwb(88 38% 33%);
$primary-500: #bfdd9b;
$dark: #121212;
$dark-300: #3f3f3f;
$dark-500: #717171;
$mixed: #1e1e1d;
$mixed-300: #484c44;
$mixed-500: #575757;
$white: #f2f2f2;
$white-300: #e6e6e6;
$white-500: #cbcbcb;


$base-size: 16px;
