@import "./variables";

.auth-container {
  width: 20vw;
  background: $dark-300;
  margin: 10vh auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  @media (max-width: 1600px) {
    width: 40%;
  }
  @media (max-width: 1200px) {
    width: 60%;
  }
  @media (max-width: 640px) {
    width: 100%;
  }
  h2 {
    margin-top: .75em;
    margin-bottom: .75em;
  }
  a {
    color: $primary;
    &:hover {
      color: $primary-300
    }
  }
  .btn {
    margin-top: 1em;
  }
}
