@import "./variables";

.auth-container {
  width: 30vw;
  height: 50vh;
  background: lightgray;
  margin: 20vh auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-container h1 {
  margin-bottom: 1rem;
  align-self: center;
}

.auth-container input {
  width: 100%;
  margin-bottom: 1rem;
}

.submit-btn {
  justify-self: center;
  align-self: center;
}

.something {
  align-self: center;
  text-align: center;
}
