@import "./variables";

.ObservationDetail {
    margin-top: 3rem;
    gap: 2rem;
    background-color: $mixed;
    padding: 3rem 2rem;
    @media (max-width: 640px) {
        flex-direction: column-reverse;
        padding: 2rem 1rem;
        margin-top: 0;
    }
    > .observation-info {
        flex-basis: 40%;
        h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        h4 {
            margin-bottom: 2rem;
            font-weight: 500;
        }
        em {
            font-weight: 300;
        }
        img {
            max-width: 100%;
        }
        > div:not(.btns-wrap, .notes) {
            padding-bottom: .5rem;
            border-bottom: $mixed-500 1px solid;
            margin-bottom: .5rem;
            font-weight: 400;
            > span {
                display: inline-block;
                width: 164px;
                font-weight: 200;
            }
        }
        .notes {
            margin-top: 2rem;
            margin-bottom: 3em;
            border-bottom: 0;
            font-weight: 200;
            line-height: 1.5;
            span {
                display: block;
                margin-bottom: .5rem;
                font-weight: 500;
            }
        }
        .btns-wrap {
            display: flex;
            .delete-btn {
                margin-left: 1em;
            }
        }
    }
    .img-wrap {
        flex-basis: 60%;
        img {
            width: 100%;
        }
    }
}