@import "./variables";

.ResponsiveNavbar {
    background-color: $dark;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80%;
    z-index: 9999;
    .inner-wrap {
        position: relative;
        padding: 4em 3em; 
        img {
            max-width: 320px;
            @media (max-width: 640px) {
                max-width: 224px;
            }
        }
        ul {
            margin-top: 3em;
            li {
                margin-bottom: 2em;
                a {
                    color: $primary;
                    text-decoration: none;
                    font-size: 2rem;
                }
            }
        }
        .exitBtn {
            background-color: transparent;
            position: absolute;
            right: 2rem;
            top: 2rem;
            border: 0;
            img {
                width: 48px;
            }
        }
    }
}